<html>
	<head>
		<title>Ontologies</title>
	</head>
	<body>
		Here's a list of all ontologies:
		<table border=1>
		<% schemas.each do |schema| %>
		  <tr>
			<td><%= schema.ontology.short_name %></td>
		  	<td><%= schema.ontology.title %></td>
		  </tr>
			<% ch
		  <tr>
			<td colspan="2"><% schema.ontology.label %></td>
		  </tr>
		<% end %>
		</table>		
	</body>
</html>
